# Java
*.class
*.jar
*.war
*.ear
*.db
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven
target/

# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# Java 8 specific
*.properties
*.xml
